# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# local development
awsConfig.json

# schemaspy data
/schemaspy/noipm-db/output
/schemaspy/iapro/output

# testing
/coverage

# security
hawkeye_report.json

e2e/tests/userJourney/**/*.png
e2e/tests/policeDataManagerUserJourney/**/*.png
e2e/tests/policeDataManager/policeDataManagerUserJourney/**/*.png
selenium-server.log

# production
/build

# local data
postgres-data/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
*.iml
/selenium-debug.log
bin/reports/
reports/
reports/*
bin/reports/*
selenium-debug.log
chromedriver.log
.terraform
*.tfstate
*.tfstate.backup

data/
.cert/

newrelic_agent.log
.vscode/