version: "3"

services:
  app:
    build:
      context: .
      args:
        - REACT_ENV=static_development
    environment:
      - NODE_ENV=development
      - REACT_APP_ENV=development
      - NEW_RELIC_ENABLED=false
      - NEW_RELIC_NO_CONFIG_FILE=true
      - REACT_APP_GOOGLE_API_KEY=${REACT_APP_GOOGLE_API_KEY}
    depends_on:
      - db
      - email
      - worker
    ports:
      - "1234:1234"
      - "3000:3000"
      - "4000:4000"
    entrypoint: ["./wait-for-it.sh","db:5432", "--"]
    command: ["yarn", "start"]
    volumes:
      - ./src:/app/src
  worker:
    build:
      context: .
    environment:
      - NODE_ENV=development
      - REACT_APP_ENV=development
      - NEW_RELIC_ENABLED=false
      - NEW_RELIC_NO_CONFIG_FILE=true
    depends_on:
      - db
      - redis
    ports:
      - "4567:4567"
      - "5000:5000"
    entrypoint: ["./wait-for-it.sh","db:5432", "--"]
    command: ["yarn", "start:worker"]
    volumes:
      - ./src:/app/src
  db:
    image: postgres:10.1-alpine
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
  email:
#  TODO depends on.  Maybe kill this instead?
    image: namshi/smtp
    environment:
      PORT: 587
  e2e:
    image: noipm/nightwatch-chrome
    depends_on:
      - app
    volumes:
      - "./e2e/tests:/tests"
      - "./e2e/nightwatch.json:/nightwatch.json"
    command: --env local
  redis:
    image: redis
