.rc-pagination-item-active {
    background-color: #0d47a1;
    border-color: #0d47a1;
}
.rc-pagination-item:hover {
    border-color: #0d47a1;
}
.rc-pagination-item:hover a {
    color: #0d47a1;
}
.rc-pagination-item-active:hover a {
    color: #fff;
}
.rc-pagination-total-text {
    font-size: 0.875rem;
}