# Environment name to point to correct configurations
# Required
ENV_NAME=

# Locally cloned instance files directory
# Optional: If not provided, we expect INSTANCE_FILES_IMAGE and INSTANCE_FILES_VERSION to point to an existing image
INSTANCE_FILES_DIR=

# Name of City's instance file Image including Docker organization e.g. publicdataworks/instance-files-pm
# Required
INSTANCE_FILES_IMAGE=

# If INSTANCE_FILES_DIR is given then version with which the instance files image will get tagged locally
# Else If INSTANCE_FILES_DIR is not given, then this would be the pre-built version of instance files that we will use for this build
# Optional
# Default Value: latest
INSTANCE_FILES_VERSION=

# Heroku account id and API key for access to deploy to your account
# You can generate these by using heroku auth:token for a short-lived token or heroku authorizations:create for a long-lived one
# Required
HEROKU_USER=
HEROKU_API_KEY=

# Heroku application name so we can deploy the correct application
# Required
HEROKU_APP_NAME=

# Postgres database credentials which hold application data
# Required
DATABASE_USERNAME=
DATABASE_PASS=
DATABASE_HOST=
DATABASE_NAME=

# Amazon Web Services (AWS) access keys to pull in seeder files for the database
# Required
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Google Maps API keys to verify addresses
# Required
GOOGLE_MAPS_API_KEY=