html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

div#root {
  height: 100%;
}

.ql-editor {
  min-height: 100px;
  max-height: 600px;
}

.letter-preview p,
.quill-editor-overrides p {
  margin: 0;
}

.ql-align-center {
  text-align: center;
}

.preserve-white-space {
  white-space: pre-wrap;
}
